@{
    ViewData["Title"] = "Potwierdzenie dodania";
}

<div class="text-center mt-5">
    <h2 class="text-success mb-4"><i class="bi bi-check-square"></i>Dodano klienta i pojazd!</h2>

<p>Dziękujemy za wprowadzenie danych. Teraz możesz <strong>umówić wizytę</strong> podając numer rejestracyjny pojazdu.</p>

<a class="btn btn-primary mt-3" asp-controller="Rezerwacja" asp-action="Create">
        <i class="bi bi-tools me-2"></i>Umów wizytę
</a>
</div>