@model AutoFix.Data.Data.Garaz.HistoriaNaprawy

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>HistoriaNaprawy</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DataZmiany" class="control-label"></label>
                <input asp-for="DataZmiany" class="form-control" />
                <span asp-validation-for="DataZmiany" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpisZmiany" class="control-label"></label>
                <input asp-for="OpisZmiany" class="form-control" />
                <span asp-validation-for="OpisZmiany" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdNaprawy" class="control-label"></label>
                <select asp-for="IdNaprawy" class ="form-control" asp-items="ViewBag.IdNaprawy"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
