@model AutoFix.Data.Data.Garaz.HistoriaNaprawy

@{
    ViewData["Title"] = "Edit";
}

<h1>Edytuj</h1>

<h4>HistoriaNaprawy</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdHistorii" />
            <div class="form-group">
                <label asp-for="DataZmiany" class="control-label"></label>
                <input asp-for="DataZmiany" class="form-control" />
                <span asp-validation-for="DataZmiany" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpisZmiany" class="control-label"></label>
                <input asp-for="OpisZmiany" class="form-control" />
                <span asp-validation-for="OpisZmiany" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdNaprawy" class="control-label"></label>
                <select asp-for="IdNaprawy" class="form-control" asp-items="ViewBag.IdNaprawy"></select>
                <span asp-validation-for="IdNaprawy" class="text-danger"></span>
            </div>
            <div class="form-group d-flex gap-2 mt-3">
                <button type="submit" class="btn btn-success">
                    <i class="bi bi-save"></i> Zapisz
                </button>

                <a asp-action="Index" class="btn btn-outline-primary">
                    <i class="bi bi-arrow-left-circle"></i> Powrót
                </a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
