@model AutoFix.Data.Data.CMS.Promocja

@{
    ViewData["Title"] = "Edit";
}

<h1>Edytuj</h1>

<h4>Promocja</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Tytul" class="control-label"></label>
                <input asp-for="Tytul" class="form-control" />
                <span asp-validation-for="Tytul" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tresc" class="control-label"></label>
                <input asp-for="Tresc" class="form-control" />
                <span asp-validation-for="Tresc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ikona" class="control-label"></label>
                <input asp-for="Ikona" class="form-control" />
                <span asp-validation-for="Ikona" class="text-danger"></span>
            </div>
            <div class="form-group d-flex gap-2">
                <button type="submit" class="btn btn-success">
                    <i class="bi bi-save"></i> Zapisz
                </button>

                <a asp-action="Index" class="btn btn-outline-primary">
                    <i class="bi bi-arrow-left-circle"></i> Powrót
                </a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
