@{
    ViewData["Title"] = "Historia Firmy";
}

<h1>Historia firmy</h1>
<p>
    Lorem Ipsum jest tekstem stosowanym jako przykładowy
    wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w.
    przez nieznanego drukarza do wypełnienia tekstem próbnej książki.
    Pięć wieków później zaczął być używany przemyśle elektronicznym,
    pozostając praktycznie niezmienionym. Spopularyzował się w latach 60.
    XX w. wraz z publikacją arkuszy
</p>
