@model IEnumerable<AutoFix.Data.Data.CMS.Strona>

<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto">
        @foreach (var item in Model)
        {
            <li class="nav-item">
                @if (!string.IsNullOrEmpty(item.LinkBezposredni))
                {
                    <a class="nav-link" href="@item.LinkBezposredni">@item.LinkTytul</a>
                }
                else
                {
                    <a class="nav-link" asp-controller="Strona" asp-action="Szczegoly" asp-route-id="@item.IdStrony">@item.LinkTytul</a>
                }
            </li>
        }
    </ul>
</div>
