@model AutoFix.Data.Data.Garaz.Pojazd

@{
    ViewData["Title"] = "Create";
}

<h1>Dodaj</h1>

<h4>Pojazd</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Marka" class="control-label"></label>
                <input asp-for="Marka" class="form-control" />
                <span asp-validation-for="Marka" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rok" class="control-label"></label>
                <input asp-for="Rok" class="form-control" />
                <span asp-validation-for="Rok" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NrRejestracyjny" class="control-label"></label>
                <input asp-for="NrRejestracyjny" class="form-control" />
                <span asp-validation-for="NrRejestracyjny" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Silnik" class="control-label"></label>
                <input asp-for="Silnik" class="form-control" />
                <span asp-validation-for="Silnik" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdKlienta" class="control-label"></label>
                <select asp-for="IdKlienta" class ="form-control" asp-items="ViewBag.IdKlienta"></select>
            </div>
            <div class="form-group d-flex mt-3 gap-2">
                <button type="submit" class="btn btn-success">
                    <i class="bi bi-save"></i> Zapisz
                </button>

                <a asp-action="Index" class="btn btn-outline-primary">
                    <i class="bi bi-arrow-left-circle"></i> Powrót
                </a>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
