@{
    ViewData["Title"] = "Rezerwacja przyjęta";
}

<div class="text-center my-5">
    <h2 class="text-success"><i class="bi bi-check-square"></i>Rezerwacja została przyjęta</h2>
    <p class="mt-3">Dziękujemy! Skontaktujemy się z Tobą, aby potwierdzić wizytę.</p>
    <a href="/" class="btn btn-primary mt-3">Powrót na stronę główną</a>
</div>
